body {
  font-family: 'Roboto', sans-serif;
  background: #F2F2F2;
  box-sizing: border-box; }

.pointer-events-none {
  pointer-events: none; }

.header {
  background-color: black; }
  .header h1 {
    margin: 0;
    color: #50FF44;
    font-size: 36px;
    line-height: 74px;
    text-align: center;
    font-style: italic; }

.main {
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 1024px;
  display: flex; }
  .main .main-img {
    flex: 4; }
    .main .main-img img {
      box-sizing: border-box;
      width: 100%;
      border: 4px solid #000;
      background-color: #fff; }
  .main .main-article {
    flex: 5; }
    .main .main-article .main-article-title {
      background-color: #000;
      color: #FFF;
      font-size: 36px;
      line-height: 52px;
      font-weight: 700;
      text-align: center; }
    .main .main-article .main-article-content {
      padding: 24px;
      padding-right: 0; }
      .main .main-article .main-article-content .two-column {
        display: flex;
        margin-bottom: 1rem; }
      .main .main-article .main-article-content .two-column > div:nth-child(1) {
        flex: 1;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700; }
      .main .main-article .main-article-content .two-column > div:nth-child(2) {
        flex: 5;
        font-size: 16px;
        line-height: 24px; }
      .main .main-article .main-article-content .two-row-title {
        margin-top: 2rem;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700; }
      .main .main-article .main-article-content .two-row-summary {
        font-size: 16px;
        line-height: 24px; }

.footer {
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 1024px; }
  .footer div:nth-child(1) {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    line-height: 44px;
    font-weight: 700;
    padding: 5px 30px; }
  .footer div:nth-child(2) {
    border: 4px solid #000; }
    .footer div:nth-child(2) ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
      .footer div:nth-child(2) ul li {
        font-size: 16px;
        line-height: 48px;
        font-weight: 900;
        padding-left: 2rem;
        padding-right: 2rem;
        cursor: pointer; }
        .footer div:nth-child(2) ul li:hover {
          background-color: #000;
          color: #fff; }
        .footer div:nth-child(2) ul li > span {
          margin-left: 1rem;
          background-color: #50FF44;
          color: #000 !important;
          font-size: 14px;
          line-height: 14px;
          padding: 4px 18px; }

.reading-main {
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 1024px; }
  .reading-main > div:nth-child(1) {
    display: flex;
    justify-content: space-between; }
  .reading-main > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
    .reading-main > div:nth-child(2) .page-left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.1); }
      .reading-main > div:nth-child(2) .page-left:hover {
        background: #000000;
        color: #50FF44;
        cursor: pointer; }
      .reading-main > div:nth-child(2) .page-left i {
        font-size: 5rem; }
    .reading-main > div:nth-child(2) .page-right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.1); }
      .reading-main > div:nth-child(2) .page-right:hover {
        background: #000000;
        color: #50FF44;
        cursor: pointer; }
      .reading-main > div:nth-child(2) .page-right i {
        font-size: 5rem; }
  .reading-main > .horizontal-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative; }
    .reading-main > .horizontal-footer .horizontal-control {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      pointer-events: none; }
      .reading-main > .horizontal-footer .horizontal-control > div {
        height: 80%;
        padding-left: 7px;
        padding-right: 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: auto;
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.8); }
        .reading-main > .horizontal-footer .horizontal-control > div:hover {
          color: #000;
          background-color: #50FF44; }
    .reading-main > .horizontal-footer .horizontal-imgs {
      width: 100%;
      height: 100%;
      white-space: nowrap;
      overflow-x: scroll; }
      .reading-main > .horizontal-footer .horizontal-imgs > div {
        display: inline-block;
        width: 12%;
        margin-left: 1rem;
        margin-right: 1rem;
        cursor: pointer; }
        .reading-main > .horizontal-footer .horizontal-imgs > div > div {
          width: 100%;
          display: inline-block; }
          .reading-main > .horizontal-footer .horizontal-imgs > div > div > div {
            text-align: center; }
          .reading-main > .horizontal-footer .horizontal-imgs > div > div > img {
            width: 100%;
            box-sizing: border-box; }
            .reading-main > .horizontal-footer .horizontal-imgs > div > div > img:hover {
              border: 5px solid #000; }
          .reading-main > .horizontal-footer .horizontal-imgs > div > div > img.hoverBorder {
            border: 5px solid #000; }
