body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

.header {
  background-color: black; }
  .header h1 {
    margin: 0;
    color: #50FF44;
    font-size: 36px;
    line-height: 74px;
    text-align: center;
    font-style: italic; }

.main {
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 1024px;
  display: flex; }
  .main .main-img {
    width: 45%; }
    .main .main-img img {
      width: 100%;
      border: 4px solid #000; }
  .main .main-article {
    width: 55%; }
    .main .main-article .main-article-title {
      background-color: #000;
      color: #FFF;
      font-size: 36px;
      line-height: 52px;
      font-weight: 700;
      text-align: center; }
    .main .main-article .main-article-content {
      padding: 24px;
      padding-right: 0; }
      .main .main-article .main-article-content .two-column {
        display: flex;
        margin-bottom: 1rem; }
      .main .main-article .main-article-content .two-column > div:nth-child(1) {
        flex: 1;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700; }
      .main .main-article .main-article-content .two-column > div:nth-child(2) {
        flex: 5;
        font-size: 16px;
        line-height: 24px; }
      .main .main-article .main-article-content .two-row-title {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700; }
      .main .main-article .main-article-content .two-row-summary {
        font-size: 16px;
        line-height: 24px; }

.footer {
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 1024px; }
